<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>우아참 - 우리 아이, 참 귀엽죠?</title>
</head>
<body class="login_body" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<div class="container-fluid row row-fluid">
    <div class="col-8 test"></div>
    <div class="col-4 main container">

        <img src="../Resources/LOGO/logo_splash.png" alt="OohAhCham Logo" width="100%" height="70%">
        <form action="index.html" method="post" id="login_form">
            <fieldset>
                <div class="row"><input placeholder="Username" type="text" required class="col field"></div>
                <div class="row"><input placeholder="Password" type="password" required class="col field"></div>
                <div class="row group text-center ">
                    <input type="submit" name="login_btn" class="login_btn text-center col" value="LOGIN">
                </div>
            </fieldset>
        </form>
        <div class="row group bottom">
            <a href="sign_up.html" class="link signup"><p class="white stroke">처음 오셨나요?</p></a>
        </div>
        <div class="row group">
            <a href="index.html" class="link"><p class="white">메인으로 바로가기</p></a>
        </div>
    </div>
</div>
</body>
<footer>
    <p>&copy;나만 없어 </p>
</footer>
</html>
