<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/default.css"><!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <meta charset="utf-8">
    <title>우아참 - 우리 아이, 참 귀엽죠?</title>
</head>
<body class="signup_body" oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
<div class="container-fluid">
    <div class="row navbar navbar-expand-lg">
        <div class="col-10">
            <a href="index.html"><img src="../Resources/LOGO/logo_white.svg" alt="OohAhCham Logo" width="323px"></a>
        </div>
        <div class="col-2 text-center"><a href="login.html">로그인</a>&nbsp;&nbsp;<a href="sign_up.html">회원가입</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="post">
            <h2 class="title">제목</h2>
            <small class="date">2018-11-27</small>
            <hr>
            <div class="context">
                <img src="../Resources/images/bg.png" class="img-fluid" alt="Responsive image">
                <img src="../Resources/images/banner1.png" class="img-fluid" alt="Responsive image">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda aut deserunt distinctio enim
                odio praesentium quidem. Ad alias architecto blanditiis dicta earum libero, magnam nam natus non odio
                voluptatibus.
            </div>
        </div>
        <hr>
        <div class="comment_view">
            <div class="row navbar"><h4>댓글</h4></div>
            <div class="comment">
                <div class="row comment_header">
                    <p class="col-8 comment_writer">예은이 바보</p>
                    <small class="col-4 comment_date text-center">2018-11-27</small>
                </div>
                <hr>
                <div class="row">
                    <div class="comment_context">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur dolorem dolores
                            dolorum labore laudantium natus nisi officia possimus totam?
                        </p>

                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="row comment_header">
                    <p class="col-8 comment_writer">예은이 바보</p>
                    <small class="col-4 comment_date text-center">2018-11-27</small>
                </div>
                <hr>
                <div class="row">
                    <div class="comment_context">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur dolorem dolores
                            dolorum labore laudantium natus nisi officia possimus totam?
                        </p>

                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="row comment_header">
                    <p class="col-8 comment_writer">예은이 바보</p>
                    <small class="col-4 comment_date text-center">2018-11-27</small>
                </div>
                <hr>
                <div class="row">
                    <div class="comment_context">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur dolorem dolores
                            dolorum labore laudantium natus nisi officia possimus totam?
                        </p>

                    </div>
                </div>
            </div>
            <form onsubmit="return false" class="form">
                <div class="comment comment_field">
                    <div class="row comment_header">
                        <p class="col-8">댓글 입력</p>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                            <div class="input-group-prepend">
                                <button class="btn input-group-text comment_field_submit">등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!--댓글묶어주기-->
    </div>

    <!--메인-->
</div>
<div class="col-2"></div>
<footer>
    <p>&copy;나만 없어 </p>
    <img src="../Resources/LOGO/logo.svg" alt="OohAhCham Logo" width="100px">
</footer>
</body>
</html>



